	<div class="page__footer">
		<div class="page__width">
			<p>
				Eu sou o Danrley, um desenvolvedor front-end de Brasília, Brasil. Eu
				construo coisas para a internet enquanto escuto metal pesado, música clássica
				ou yoga's song. Eu tenho o cabelo grande, geralmente uso coque
				(no caso de você não ter notado) e pedalo por ai com minha bike.
			</p>

			{% include mohawk/widgets/socials.html %}

			{% include mohawk/widgets/face.html %}
		</div>
	</div>
	{% if site.isProduction %}
		<script src="/theme/mohawk/build/scripts/app.min.js"></script>

	{% else %}
		<script src="/theme/mohawk/build/scripts/app.js"></script>

	{% endif %}
</body>
</html>
