<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://danrleywillyan.com.au{{ page.url }}">
<meta name="twitter:title" content="{% if page.title %} {{ page.title }} | {% endif %} Danrley Willyan - Front End Web Developer">
<meta name="twitter:description" content="{{ page.seo__desc }}">
<meta name="twitter:image" content="http://danrleywillyan.com.au/content/images/facebook-share.jpg">
<meta name="twitter:site" content="@cmrpyro">
<meta name="twitter:creator" content="@cmrpyro">
