<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://danrleywillyan.firebaseapp.com{{ page.url }}">
<meta name="twitter:title" content="{% if page.title %} {{ page.title }} | {% endif %} Danrley Willyan - Front End Web Developer">
<meta name="twitter:description" content="{{ page.seo__desc }}">
<meta name="twitter:image" content="https://danrleywillyan.firebaseapp.com/content/images/facebook-share.jpg">
<meta name="twitter:site" content="@cmrpyro">
<meta name="twitter:creator" content="@cmrpyro">
